<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= product.name %></title>
  </head>
  <body>
    <h1><%= product.name %></h1>
    <li>Price: <%= product.price %></li>
    <li>Category : <%= product.category %></li>

    <a href="/product">All Products</a>
    <a href="/product/<%= product._id %>/edit">Edit Product</a>
    <form action="/product/<%= product._id %>?_method=DELETE" method="POST">
      <button>DELETE</button>
    </form>
  </body>
</html>
